.bg-white {
    background-color: #ffffff;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .text-black {
    color: #000000;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .list-disc {
    list-style-type: disc;
  }
  
  .pl-5 {
    padding-left: 1.25rem;
  }
  
  .transform {
    transition: transform 0.3s;
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }
  