@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "proximanova-regular";
  src: url("/fonts/proximanova-regular.ttf") format("truetype");
}

@font-face {
  font-family: "proximanova-semibold";
  src: url("/fonts/proximanova-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "proximanova-bold";
  src: url("/fonts/proximanova-bold.ttf") format("truetype");
}

@font-face {
  font-family: "proximanova-light";
  src: url("/fonts/proximanova-light.ttf") format("truetype");
}

@font-face {
  font-family: "proximanova-thin";
  src: url("/fonts/proximanova-thin.ttf") format("truetype");
}
@font-face {
  font-family: "slick";
  src: url("/fonts/slick.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat.ttf") format("truetype");
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee:hover {
  animation-play-state: paused;
}
.bg-primary {
  background-color: #3c5686;
}
.text-primary {
  color: #3c5686;
}
.bg-secondary {
  background-color: #fecc00;
}
.text-secondary {
  color: #fecc00;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.card:hover .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.card:hover .custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.card:hover .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aaaaaa; 
  border-radius: 10px;
}

.card:hover .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.Cutout {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}